.flights-container {
    padding: 20px;
  }
  
  .add-button,
  .return-home-button {
    display: inline-block;
    padding: 10px 20px;
    margin: 20px 10px 20px 0;
    background-color: #28a745; /* Green color */
    color: #fff;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 600;
    transition: background-color 0.3s;
    cursor: pointer;
    border-color: transparent;
  }
  
  .add-button:hover,
  .return-home-button:hover {
    background-color: #218838;
  }
  
  .flights-list {
    list-style-type: none;
    padding: 0;
  }
  
  .flight-item {
    border: 1px solid #ccc;
    margin: 10px 0;
    padding: 10px;
  }
  
  .flight-item h2 {
    margin: 0;
  }
  
  .flight-item p {
    margin: 5px 0;
  }
  
  .edit-button,
  .delete-button {
    margin-right: 10px;
    padding: 5px 10px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  .delete-button {
    background-color: #dc3545;
  }
  
  .edit-button:hover {
    background-color: #0056b3;
  }
  
  .delete-button:hover {
    background-color: #c82333;
  }
  
  .modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
  }
  
  .modal-content label {
    display: block;
    margin: 10px 0;
  }
  
  .modal-content input,
  .modal-content textarea {
    width: 100%;
    padding: 5px;
  }
  
  .modal-content button {
    margin-right: 10px;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #28a745;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  .modal-content button:hover {
    background-color: #218838;
  }
  